/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #eaeaea;
  --texto: #1A1A1A;
  --texto-inverso: #E5E5E5;
  --destaque-inverso: #19344eee;
  --destaque: #3a78b3ee;
  --fundo-card: #f1f1f1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;

  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color:var(--texto);
  padding: 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 15px 15px;

  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;

  display: flex;
  gap:10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 800;
  padding: 12px 15px;
  border-radius: 10px;
  transition: background-color 2s, color 1s;
  transition: all 0.3s ease-in-out;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  transform: scale(1.5);
}


